<!--=================================
            Footer Area
===================================== -->

<!-- Load Static -->
{% load static %}
<footer class="site-footer">
    <div class="container">
        <div class="row justify-content-between  section-padding">
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="brand-footer footer-title">
                        <img src="{% static 'image/logo_nishantha.png' %}">
                    </div>
                    <div class="footer-contact">
                        <p><span class="label">Address:</span><span class="text">248, Bollatha, Ganemulla. Sri Lanka</span></p>
                        <p><span class="label">Hotline:</span><span class="text">+(94) 11 224 7436</span></p>
                        <p><span class="label">Email:</span><span class="text">nishanthapubli@gmail.com</span></p>
                    </div>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>Information</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Download</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Delivery Information</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-2 col-sm-6">
                <div class="single-footer pb--40">
                    <div class="footer-title">
                        <h3>Extras</h3>
                    </div>
                    <ul class="footer-list normal-list">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Gift Vouchers</a></li>
                        <li><a href="#">Upcoming Events</a></li>
                    </ul>
                </div>
            </div>
            <div class=" col-xl-3 col-lg-4 col-sm-6">
                <div class="footer-title">
                    <h3>Newsletter Subscribe</h3>
                </div>
                <div class="newsletter-form mb--30">
                    <form action="">
                        {% csrf_token %}
                        <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                        <button class="btn btn--primary w-100" onclick="addToNewsletter(event)">Subscribe</button>
                    </form>
                </div>
                <div class="social-block">
                    <h3 class="title">අප හා එක්වන්න</h3>
                    <ul class="social-list list-inline">
                        <li class="single-social facebook"><a href="#"><i class="ion ion-social-facebook"></i></a>
                        </li>
                        <li class="single-social twitter"><a href="#"><i class="ion ion-social-twitter"></i></a>
                        </li>
                        <li class="single-social google"><a href="#"><i
                                    class="ion ion-social-googleplus-outline"></i></a></li>
                        <li class="single-social youtube"><a href="#"><i class="ion ion-social-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="copyright-heading">පොත් සහෘදයන්ගේ අන්තර්ජාල මුල් පිටුව ලෙස අපගේ වෙබ් අඩවිය ඔබට හදුන්වන්න පුළුවන්. අපගේ බලාපොරොත්තුව දස දහසක් පමණ වූ පොත් විශාල ප්‍රමාණයක් අතරින් ඔබට ඔබගේ සිත රැඳී පොත පහසුවෙන් තෝරාගැනීමට අවශ්‍ය පහසුකම් අප එකම වහලක් යටින් සැපයීමයි.</p>
            <a href="#" class="payment-block">
                <img src="{% static 'image/icon/payment.png' %}">
            </a>
            <p class="copyright-text">Copyright © 2021 <a href="{% url 'home:index' %}" class="author">නිශාන්ත ප්‍රකාශන</a>. සියලු හිමිකම් ඇවිරිණි.
                <br>
                Design By Nishantha Publishers
            </p>
        </div>
    </div>
</footer>