<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% endblock %} | Nishantha.lk - Sri Lanka's Largest Online Book Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="google-signin-client_id"content="1003526347537-5o81jt1cfuos93hulh7cg5vhepagcuj3.apps.googleusercontent.com">
        <!-- Loading Static Files -->
        {% load static %}
        <!-- Use Minified Plugins Version For Fast Page Load -->
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/plugins.css' %}">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.ico' %}">
        <!-- Custom Scrollbar -->
        <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
        {% block css %} {% endblock %}
    </head>
    <body>
        <!-- All the content goes in here -->
        {% block content %}{% endblock %} 
        {% include 'brand_slider.html' %} 
        {% include 'footer.html' %}
        <!-- Javascript files block -->
        {% block js %}{% endblock %}
        <!-- Use Minified Plugins Version For Fast Page Load -->
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/ajax-mail.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <!-- Sweet Alert -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Custom JS for the Base -->
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>
